# Analiza danych przestrzennych - ćwiczenia laboratoryjne 2023/2024

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają na celu wyłapać podstawowe błędy. Przejście przez kod wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem). Rozmiar poziomy figur nie powinien przekraczać 20 cali.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (nazwa zespołu oraz imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

Nazwa zespołu:
Członkowie:

---

## Zestaw zadań 2: Elementy statystyki opisowej 2 (Notatnik 1/3)

In [2]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Miejsce do importu pakietów wchodzących w skład standardowej biblioteki Pythona oraz ustawienie opcji wykorzystywanych pakietów

### Zadanie 1: Przygotowanie danych [10 pkt]

Pliki raw_data_1.csv, raw_data_2.csv i raw_data_3.xlsx zawierają dane pobrane ze stron:</br>
https://databank.worldbank.org/,</br>
https://unstats.un.org/UNSDWebsite/,</br>
https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups.

Zaimportuj zawarte w plikach dane do notatnika i utwórz na ich podstawie tablicę `recession_data_1` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>
    Indeks: Country Code</br>
        Wiersze powinny być indeksowane trzyliterowymi kodami krajów.</br>
    Kolumny: Country Name, Region Name, Income Group, 2006, 2007, 2008, 2009, 2010, 2011 (w tej kolejności, lata w nagłówkach jako zmienne typu str)</br>
        Kolumna Income Group zawiera informację o stopniu zamożności państwa wg danych z 2008 roku.
        Kolumny 2006-2011 zawierają wartości wskaźnika GDP growth (annual %) dla poszczególnych lat.
- Zmień występujące w kolumnie Income Category kody (H, UM, LM, L) na pełne wyrażenia (High, Upper middle, Lower middle, Low).
- Tablica nie powinna zawierać wierszy, w których znajdują się wartości NaN (w dowolnej kolumnie) oraz wiersza dotyczącego Libii.

Zapisz tablicę do pliku recession_data_1.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 5 pierwszych i ostatnich wierszy, a zawarte w tablicy liczby (za wyjątkiem lat w nagłówkach kolumn) wyświetlały się z dokładnością do 2 miejsca po przecinku.

In [93]:
## YOUR CODE HERE
rows_to_import_from_raw_data_3 = list(range(10,230))
data1 = pd.read_csv('raw_data_1.csv', nrows = 217)
data2 = pd.read_csv('raw_data_2.csv', delimiter = ';')
data3 = pd.read_excel('raw_data_3.xlsx', sheet_name = 'Country Analytical History', skiprows = lambda x: x not in rows_to_import_from_raw_data_3)

data2 = data2.rename(columns={'ISO-alpha3 Code': 'Country Code'})
data3 = data3.rename(columns={'Unnamed: 0': 'Country Code'})
data3 = data3[['Country Code', 'Unnamed: 23']]

recession_data_1 = data1.merge(data2, on ='Country Code').merge(data3, on = 'Country Code')
recession_data_1 = recession_data_1.rename(columns = {'Unnamed: 23': 'Income Group'})
gdp_years = [str(i) + ' [YR' + str(i) + ']' for i in range(2006,2012)]
good_name_gdp_years = [str(i) for i in range(2006,2012)]
recession_data_1 = recession_data_1[['Country Code', 'Country Name', 'Region Name', 'Income Group'] + gdp_years]
recession_data_1.columns = ['Country Code', 'Country Name', 'Region Name', 'Income Group'] + good_name_gdp_years

recession_data_1 = recession_data_1.set_index('Country Code')

full_names_of_income_group = {'H' : 'High', 'UM' : 'Upper middle', 'LM' : 'Lower middle', 'L' : 'Low'}
recession_data_1 = recession_data_1.replace({'Income Group' : full_names_of_income_group})

recession_data_1 = recession_data_1[~ recession_data_1.isin(['..', 'Libya']).any(axis = 1)]

recession_data_1[good_name_gdp_years] = recession_data_1[good_name_gdp_years].astype(float).round(2)
recession_data_1

,Country Name,Region Name,Income Group,2006,2007,2008,2009,2010,2011
Country Code,,,,,,,,,
AFG,Afghanistan,Asia,Low,5.36,13.83,3.92,21.39,14.36,0.43
ALB,Albania,Europe,Lower middle,5.90,5.98,7.50,3.35,3.71,2.55
DZA,Algeria,Africa,Upper middle,1.70,3.40,2.40,1.60,3.60,2.90
ASM,American Samoa,Oceania,Upper middle,-4.10,1.85,-2.66,-4.17,0.30,0.00
AND,Andorra,Europe,High,4.81,1.55,-5.56,-5.30,-1.97,-0.01
...,...,...,...,...,...,...,...,...,...
VIR,Virgin Islands (U.S.),Americas,High,3.50,4.01,1.22,-6.59,0.60,-8.20
PSE,West Bank and Gaza,Asia,Lower middle,-1.00,3.79,7.43,8.59,5.78,9.60
YEM,"Yemen, Rep.",Asia,Low,3.17,3.34,3.65,3.87,7.70,-12.71
ZMB,Zambia,Africa,Low,7.90,8.35,7.77,9.22,10.30,5.56
ZWE,Zimbabwe,Africa,Low,-3.46,-3.65,-17.67,12.02,21.45,14.62

In [89]:
### Komórka testowa
# Test 1 Kształt tablicy
assert recession_data_1.shape == (198, 9)
# Test 2 Kolumny
assert len(set(list(recession_data_1.columns)) & set(['Country Name', 'Region Name', 'Income Group', '2006', '2007', '2008', '2009', '2010', '2011'])) == 9
# Test 3 Indeks
assert (recession_data_1.index.name == 'Country Code') == True
assert recession_data_1.index.values.min() == 'ABW'
assert recession_data_1.index.values.max() == 'ZWE'
assert np.all(recession_data_1.index.values != 'LBY') == True
# Test 4 Zawartość kolumn tekstowych
assert np.all([set(recession_data_1["Region Name"].unique()) == set(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas'])])
assert np.all([recession_data_1["Region Name"].value_counts().values == [50, 49, 43, 40, 16]])
assert np.all([set(recession_data_1["Income Group"].unique()) == set(['Low', 'Lower middle', 'Upper middle', 'High'])])
assert np.all([recession_data_1["Income Group"].value_counts().values == [60, 53, 44, 41]])
# Test 5 Zawartość kolumn liczbowych
assert np.all(np.isclose(recession_data_1[['2006', '2007', '2008', '2009', '2010', '2011']].min().values, np.array([ -6.87146322, -6.68402778, -17.66894633,
                                                                                                                    -17.57322176, -8.92417589, -12.7148969 ]))) == True
assert np.all(np.isclose(recession_data_1[['2006', '2007', '2008', '2009', '2010', '2011']].max().values, np.array([34.5 , 24.99999985, 17.79910913, 21.39052839,
                                                                                                                    25.12275964, 21.61652888]))) == True